<div class="wrapper">
  <div class="sidebar">
      <ul style="list-style:none;">
        <li>
          <p style="font-size:smaller;">
            <span><h3>Hi, {{adminName}}</h3></span>   
          </p>
        </li>
        <li> 
          <a routerLink="/nav/list"><span>List Of Buses</span></a>
        </li>
        <li>
          <a routerLink="/Adminlogin"><span>Logout</span></a>
        </li> 
    </ul>
  </div>
  <div style="display:flex; margin-left: 225px;">
    <router-outlet></router-outlet>
  </div>
</div> 